services:
  web:
    build:
      context: .
    image: artifisi_com:latest
    ports:
      - "3000:80"
    environment:
      RAILS_ENV: production
      RAILS_SERVE_STATIC_FILES: "true"
    env_file:
      - .env.docker
    volumes:
      - ./log:/rails/log
      - ./storage:/rails/storage
      - ./tmp:/rails/tmp
